.back-img-1{
    background-image:  linear-gradient(90deg, rgba(40, 37, 43, 0.87) 0%, rgba(253,29,29,0.23602944595807074) 50%, rgba(252,176,69,0) 100%), url(../img/10865189.jpg);
    max-width: 1600px;
    width: 100%;
    height: 700px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
  background-attachment: fixed;
  background-position: center;
}
.navigation, .nav, .nav-li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
   
}
.navigation{
    Width : 1600px;
    justify-content: center;
    align-items: center;
}
.nav{
    align-items: center;
    justify-content: center;
}
.center{
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.center-head{
    max-width: 730px;
    width: 100%;
    color: white;
    font-size: 55px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.center-text{
    max-width: 500px;
    width: 100%;
    font-size: 18px;
    color: white;
    margin-bottom: 30px;
}
.center-text::first-line{
    color: brown;
    text-transform: uppercase;
    text-shadow: 1px 1px white ;
}
.btn{
    border-radius: 20px;
    border: none;
    outline: none;
    color: white;
    background: rgb(187, 33, 58);
    margin-bottom: 183px;
    max-width: 184px;
    width: 100%;
    height: 46px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: all .2s ease-in-out;
}
.btn:hover { 
    transform: scale(1.1); 
}


/* section two */
.section-two{
    background:  url(../img/176797.png);
    max-width: 1600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    color: white;
    background-attachment: fixed;
    background-position: center;
}
.section-two2{
    background:  url(../img/971-9712787_totoro-wallpapers-hd-free-download-cartoon.png);
    max-width: 1600px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    padding: 30px;
    color: white;
    background-attachment: fixed;
    background-position: center;
}
.left-3, .right-3{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}
/*  section main end */
.end-11{
    max-height: 1200px;
    height: 100%;
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    padding: 30px;
    margin-bottom: 20px;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(40, 37, 43, 0.87) 0%, rgba(253,29,29,0.23602944595807074) 50%, rgba(252,176,69,0) 100%);
    border-radius: 10px;
    
}
.left-3{
    display: flex;
    flex-direction: column;
}
.end-head{
    font-weight: bold;
    text-transform: uppercase;
    font-weight: 28px;
    font-size: 24px;
    margin-bottom: 20px;
    width: 100%;
}
.end-text{
    max-width: 407px;
    width: 100%;
    max-height: 300px;
    height: 100%;
    margin-bottom: 35px;
    font-size: 20px;
}
.end-img{
    max-height: 500px;
    height: 100%;
    max-width: 380px;
    width: 100%;
    border-radius: 10px;
}
.footer-bf{
    background: linear-gradient(90deg, rgba(40, 37, 43, 0.87) 0%, rgba(253,29,29,0.23602944595807074) 50%, rgba(252,176,69,0) 100%), url(../img/kisspng-susuwatari-studio-ghibli-haku-ghibli-museum-anime-ghibli-5ace03eca79d30-0486885515234508606866.png);
    max-width: 1600px;
    width: 100%;
    height: 400px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    background-attachment: fixed;
    background-position: center;
}
#email{
    max-width: 300px;
    width: 100%;
}
.f-input{
    max-width: 400px;
    width: 100%;
    height: 40px;
    margin-top: 30px;
    outline: none;
    font-size: 20px;
}
.blank, .f-form{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    display: flex;
    flex-direction: column-reverse;
    text-align: center;
    font-size: 18px;
    
}

/* footer middle */
.middle-footer{
    background-color: #f5f6f77c;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.midl-text{
    max-width: 500px;
    width: 100%;

}
.fm-text{
    text-align: center;
    max-width: 480px;
    width: 100%;
    margin: 20px;
    font-size: 14px;
    color: #4E4E4E;
}
.fm-head{
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
}
.fm-apl, .fm-market{
    background-color: brown;
    color: white;
    max-width: 150px;
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 16px;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s ease-in-out;
}
.fm-apl:hover,  .fm-market:hover { 
    transform: scale(1.1); 
}


/* footer end section */
.end-footer{
    height: 200px;
    width: 100%;
    background-color: #00000059;
    display: flex;
    flex-wrap: wrap;
    color: white;
    align-items: center;
    justify-content: space-around;
}
.footer-fm{
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.list{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.fm-t, .fm-logo, .fm-tm, .footer-fm{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.fm-logo{
    margin:0 auto;
}
.fm-t{
    margin-left: 35px;
}