@media (max-width: 900px){
    .top, .end, .end-1, .row-2{
        flex-direction: row;
        justify-content: center;
        max-width: 450px;
        width: 100%;
        height: 700px;
    }
    .cont-section{
        max-width: 720px;
        width: 100%;
    }
    }
    @media (max-width: 450px){
        .top, .end, .end-1, .row-2{
            flex-direction: column;
            justify-content: center;
            max-width: 200px;
            width: 100%; 
            height: 900px;
        }
        .hight{
            margin-bottom: 10px;
        }
        .cont-section{
            max-width: 400px;
            width: 100%;
        }
 
    }
    @media (max-width: 979px){
        .blocks, .box-hight{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            max-width: 900px;
            margin: 0 auto;
        }
    }
    @media (max-width: 817px){
        .blocks, .box-hight{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            max-width: 600px;
            margin: 0 auto;
        }

    }
    @media (max-width: 350px){
        .blocks, .box-one, .box-hight{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            max-width: 320px;
            margin: 0 auto;
            
        }
        .cont-section{
            max-width: 320px;
            width: 100%;
        }

    }
    @media (max-width: 500px){
        .line{
            justify-content: center;
        }

        .video{
            max-width: 400px;
            width: 100%;
        }
        .info-anime{
            max-width: 400px;
            width: 100%;
            padding: 0;
            height: 600px;
        }
        .img-anime{
            max-width: 300px;
            width: 100%;
            
        }
        .info{
            max-width: 500px;
            width: 100%;
        }

        .slide{
            max-width: 400px;
            width: 100%;
        }
        .cont-section{
            max-width: 400px;
            width: 100%;
        }
    }
    @media (max-width: 590px){
        .left, .right, .ims{
            visibility: hidden;
            display: none;
        }

    }
    @media (max-width: 650px){
        .top, .end, .end-1, .row-2, .footer{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: 800px;
            max-width: 500;
        }
    }
    @media (max-width: 800px){
        .head-two{
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            font-size: 16px;
            margin: 0 auto;
        }
    }
    @media (max-width: 1450px){
        .back-img{
            max-width: 600px;
            width: 100%;
            height: 310px
            ;
        }
        .block, .box-one .box-hight{
            max-width: 1000px;
            width: 100%;
            flex-wrap: wrap;
            padding: 5px;
        }
        
    }
    @media (max-width: 840px){
        .back-img{
            width: 100%;
            height: 300px;
            max-width: 350px;
        }
        .end-11{
            justify-content: center;
        }
    }
    @media (max-width: 680px){
        .back-img{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: 300px;
            max-width: 350px;
        }
        .end-11{
            justify-content: center;
        }
    }

    @media (max-width: 391px){
        .back-img{
            max-width: 320px;
            width: 100%;
        }
        .slide{
            max-width: 320px;
            width: 100%;
        }
        .cont-section{
            max-width: 350px;
            width: 100%;
        }
    }
    @media (max-width: 450px){
        .slide{
            max-width: 350px;
            width: 100%;
        }
        .end-text{
            display: none;
        }
        .end-head{
            margin-top: 10px;
            font-size: 15px;
            font-weight: 10px;
            justify-content: center;
        }
    }
    @media (max-width: 700px){
        .header, .container, .row, .navbar, ul, .nav-li{
           flex-direction: row;
           justify-content: center;
           margin: 5px;
        }

    }
    @media (max-width: 700px){
        .nav-li{
           margin: 10px;
        }

    }
    @media (max-width: 650px){
        .footer, .columns, .column-one, .column-two, .blank-2, .list{
           flex-direction: column;
           justify-content: center;
           align-items: center;

        }
    }
    @media (max-width: 790px){
        .center-text{
            max-width: 300px;
            width: 100%;
        }
        .center-head{
            max-width: 400px;
            width: 100%;
            font-size: 25px;
        }
        
        .center{
            margin-top: 40px;
        }
        .end-11{
           padding-top: 20px;
        }
        .end-head, .end-text, .end-img{
            width: 320px;
        }
        .section-two{
            max-width: 500px;
            width: 100%;
        }
        .email{
            max-width: 320px;
            width: 100%;

        }

        .list, .footer-fm{
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0 auto;
            padding: 0 auto;
        }
        .footer-fm{
            max-width: 300px;
            width: 100%;
            justify-content: center;
        }
        .fm-logo{
            padding-left: 100px;
        }
        .fm-tm{
            padding-left: 30px;
        }
       

    }
    @media (max-width: 680px){
        #touch, .column-two, .touchs{
            display: none;
         }
        .footer{
           height: 200px;
           margin-top: 320px;
        }

    }
    @media (max-width: 400px){
        footer{
           margin-top: 160px;
        }
        .head-two{
            font-size: 16px;
        }
  
        .back-img{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            width: 100%;
            height: 300px;
            max-width: 320px;
        }
        .slide{
            max-width: 320px;
            width: 100%;
        }
        .fm-t,  .fm-tm, .fm-logo{
           width: 100%;
           justify-content: center;
        }
    }
    @media (max-width: 750px){
        .lg-place, .logo{
            justify-content: center;
            width: 90px;
            padding-top: 5px;
        }
        .size-img{
            height: 300px;
            width: 200px;
            display: flex;
            flex-wrap: wrap;
            border-radius: 8px;
            cursor: pointer;
        }
        
    }
    @media (max-width: 700px){
        textarea .video, video,  #comments,  .column-3 {
            max-width: 590px;
            width: 100%;
        }
        .info{
           visibility: hidden;
           display: none;
           align-items: center;
           width: 320px;
           width: 100%;
           justify-content: center;
           height: 400px;
        }
        .info-anime, .info{
            justify-content: center;
            width: 320px;
            align-items: center;
            font-size: 15px;
            flex-direction: column;
            margin-right: 50px;
        }
        .header-1, .img-anime{
            visibility: visible;
        }
        .header-1{
            margin-left: 25px;
        }
    }
    @media (max-width: 600px){
        textarea .video, video,  #comments,  .column-3, .info-anime, .info{
            max-width: 500px;
            width: 100%;
            justify-content: center;
        }
    }
    @media (max-width: 500px){
        textarea .video, video, #comment, .column-3, .info-anime, .info{
            max-width: 400px;
            width: 100%;
            justify-content: center;
        }
    }
    @media (max-width: 470px){
        .video, video, #comment, .column-3, textarea, .info-anime, .info{
            max-width: 320px;
            width: 100%;
            justify-content: center;
        }
        .info{
            justify-content: center;
        }
    }
    @media (max-width: 400px){
        textarea .video, video, #comment, .comments-1, .column-3{
            max-width: 300px;
            width: 100%;
        }
    }
    @media (max-width: 390px){
        .footer{
            margin-top: 120px;
        }
    }
    @media (max-width: 550px){
        .line{
            width: 300px;
        }
        .end, .end-1{
            visibility: hidden;
            display: none;
        }
        .top, .row-2{
            flex-direction: column;
            justify-content: center;
            max-width: 200px;
            width: 100%; 
            height: 500px;
        }
        .hight{
            margin-bottom: 20px;
        }
        .hidn{
            visibility: hidden;
            display: none;
        }
    }
    @media (max-width: 585px){
        .back-img{
            width: 100%;
            height: 300px;
            max-width: 390px;
        }
        .slide{
            max-width: 340px;
            width: 100%;
        }
    }

    
   