/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.3.6,
* Autoprefixer: v10.3.1
* Browsers: last 4 version
*/

body{
    background: -webkit-gradient(linear,  left top, right top,  from(rgba(2, 2, 128, 0.829)), to(rgba(250, 131, 151, 0.795)));
    background: -o-linear-gradient(left,  rgba(2, 2, 128, 0.829), rgba(250, 131, 151, 0.795));
    background: linear-gradient(to right,  rgba(2, 2, 128, 0.829), rgba(250, 131, 151, 0.795));
    background-repeat: no-repeat;
}
@font-face {
    font-family: 'Patrick Hand', cursive;
    src: url(../fonts/PatrickHand-Regular.ttf);
}
@font-face {
    font-family: 'Exo 2', sans-serif;
    src: url(../fonts/Exo2-Italic-VariableFont_wght.ttf);
}
/* navigation - logo, navbar, serach button, registration */

.logo-img{
    width: 85px;
    height: 85px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    cursor: pointer;
    margin-right: 80px;
}
.header, .container, .row, .navbar, .ul, .nav-li{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.header{
    background: rgb(2, 14, 53);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(14,14,14,0.3956933115042892)), color-stop(51%, rgba(11,11,11,0.1856092778908438)), to(rgba(12,13,13,0.3984944319524685)));
    background: -o-linear-gradient(bottom, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
    background: linear-gradient(0deg, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.row{
    max-width: 1600px;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 40px ;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
}
.nav-li{
    font-family:'Patrick Hand', cursive;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-right: 40px;
}
.span{
    color: white;
}
.span:hover {
    color: #aae5f7e0;
}
/* drowdown-content */
.dropdown-content {
    display: none;
    position: absolute;
    background: -o-linear-gradient(356deg, rgba(107, 32, 192, 0.829) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%);
    background: linear-gradient(94deg, rgba(107, 32, 192, 0.829) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%);
    color: white;
    min-width: 140px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 5px;
    border-radius: 5px;
    line-height: 30px;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .fa-angle-double-down{
      margin-left: 5px;
      margin-top: 5px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
  }
  .option{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      width: 100px;
  }
  .option:hover{
      background: rgba(235, 195, 235, 0.438);
      cursor: pointer;
      -webkit-transition: 0.5s;
      -o-transition: 0.5s;
      transition: 0.5s;
      width: 120px;
      border-radius: 5px;
  }
  .color{
      color: white;
  }
  /* regitration and search tags */
  /* regitration - navbar hover */
  .log-in{
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
  .fa-search, .fa-user-alt{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 5px;
    font-size: 20px;
    color: black;
 }
/* second dropdown */
.dropdown-two {
    position: relative;
    display: inline-block;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    
  }

  .dropdown-content-two {
    display: none;
    position: absolute;
    background: -o-linear-gradient(356deg, rgba(212, 16, 147, 0.74) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%);
    background: linear-gradient(94deg, rgba(212, 16, 147, 0.74) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%);
    color: white;
    min-width: 140px;
    -webkit-box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
            box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    line-height: 30px;
    margin-top: 3px;
  }
  .dropdown-two:hover .dropdown-content-two {
    display: block;
  }
  .fa-bell{
      font-size: 22px;
      padding-left: 2px;
      cursor: pointer;
  }
  /* input style username and password */
#pass, #username{
    border-radius: 16px;
    border: none;
    height: 25px;
    width: 150px;
    outline: none;
}
.btn{
    border-radius: 16px;
    border: none;
    width: 70px;
    height: 28px;
    outline: none;
    color: white;
    background: rgb(187, 33, 58);
    margin-top: 10px;
}
.account{
    color: white;
}
/* search section hover */

.search-box{
    background: -o-linear-gradient(356deg, rgba(236,235,242,1) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145,145,145,0.5861695019804797) 100%);
    background: linear-gradient(94deg, rgba(236,235,242,1) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145,145,145,0.5861695019804797) 100%);
    height: 50px;
    border-radius: 40px;
    padding: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 20px;
}
.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background: white;
}
.search-btn{
    color: rgb(240, 124, 143);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(247, 126, 146);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
}
.search-txt{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    -webkit-transition: 0.4s;
    -o-transition: 0.4s;
    transition: 0.4s;
    line-height: 30px;
    width: 0;
}
/* main section */
/* slide bar */
.main{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-top: 30px;
    background:  -o-linear-gradient(356deg, rgba(107, 32, 192, 0.699) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%), url(../img/e2f39b1c5e80c5d9601d8e0c50c78603.png);
    background:  linear-gradient(94deg, rgba(107, 32, 192, 0.699) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%), url(../img/e2f39b1c5e80c5d9601d8e0c50c78603.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}
.bg-img{
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.size-img{
    height: 300px;
    width: 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    border-radius: 8px;
    cursor: pointer;
}
.size-img:hover{
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
}
.slide{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    border-radius: 8px;
    background: rgb(13,13,12);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(14,14,14,0.3956933115042892)), color-stop(51%, rgba(11,11,11,0.1856092778908438)), to(rgba(12,13,13,0.3984944319524685)));
    background: -o-linear-gradient(bottom, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
    background: linear-gradient(0deg, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
}
.back-img{
    background-image:  -webkit-gradient(linear, left top, right top, from(rgba(40, 37, 43, 0.87)), color-stop(50%, rgba(253,29,29,0.23602944595807074)), to(rgba(252,176,69,0))), url(../img/static-assets-upload9114746084843840818.png);
    background-image:  -o-linear-gradient(left, rgba(40, 37, 43, 0.87) 0%, rgba(253,29,29,0.23602944595807074) 50%, rgba(252,176,69,0) 100%), url(../img/static-assets-upload9114746084843840818.png);
    background-image:  linear-gradient(90deg, rgba(40, 37, 43, 0.87) 0%, rgba(253,29,29,0.23602944595807074) 50%, rgba(252,176,69,0) 100%), url(../img/static-assets-upload9114746084843840818.png);
    width: 820px;
    height: 510px;
    background-repeat: no-repeat;
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}
.back-img:hover{
    background-image:  -webkit-gradient(linear, left top, right top, from(rgba(40, 37, 43, 0.87)), color-stop(50%, rgba(253,29,29,0.23602944595807074)), to(rgba(252,176,69,0))), url(../img/maxresdefault.jpg);
    background-image:  -o-linear-gradient(left, rgba(40, 37, 43, 0.87) 0%, rgba(253,29,29,0.23602944595807074) 50%, rgba(252,176,69,0) 100%), url(../img/maxresdefault.jpg);
    background-image:  linear-gradient(90deg, rgba(40, 37, 43, 0.87) 0%, rgba(253,29,29,0.23602944595807074) 50%, rgba(252,176,69,0) 100%), url(../img/maxresdefault.jpg);
    
}
.right, .left{
    cursor: pointer;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 50px;
    height: 100px;
    background-repeat: no-repeat;
    background: -webkit-gradient(linear,  right top, left top,  from(rgba(119, 164, 206, 0.473)), to(rgba(218, 132, 146, 0.514)));
    background: -o-linear-gradient(right,  rgba(119, 164, 206, 0.473), rgba(218, 132, 146, 0.514));
    background: linear-gradient(to left,  rgba(119, 164, 206, 0.473), rgba(218, 132, 146, 0.514));
    border-radius: 3px;
    margin: 30px;
    
}
.left:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
.right:hover{
    -webkit-transform: scale(1.2);
        -ms-transform: scale(1.2);
            transform: scale(1.2);
}
/* html tags on image */
.content{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 50px;
}
.img-tbn{
    background: rgb(165, 31, 54);
    color: white;
    width: 180px;
    height: 45px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 15px;
    border: none;
    margin-top: 40px;
    margin-bottom: 10px;
    cursor: pointer;
    font-size: 20px;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
}
.img-tbn:hover { 
    -webkit-transform: scale(1.2); 
        -ms-transform: scale(1.2); 
            transform: scale(1.2); 
    }
.head-one{
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}
.text{
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
/* img blocks section */
/* .blocks{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
    justify-content: center;
} */
    /* border-radius: 8px;
    background: rgb(13,13,12);
    background: linear-gradient(0deg, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%); */
    
.box-one{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 20px;
    max-width: 1600px ;
    width: 100%;
    padding: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
.box-hight{
    max-width: 1000px;
    width: 100%;
    padding: 30px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    border-radius: 8px;
    background: rgb(13,13,12);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(14,14,14,0.3956933115042892)), color-stop(51%, rgba(11,11,11,0.1856092778908438)), to(rgba(12,13,13,0.3984944319524685)));
    background: -o-linear-gradient(bottom, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
    background: linear-gradient(0deg, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
}
/* box one */
.top, .end, .end-1, .row-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin: 0 auto;
    width: 900px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
}
.head-two{
    color: white;
    font-size: 22px;
    font-family: 'Exo 2', sans-serif;;
    margin-top: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}
.line{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 350px;
    height: 3px;
    background-color: brown;
}

/* section two */

.news{
    color: white;
    font-size: 22px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
}
/* footer  */
.footer{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: rgb(2, 2, 68);
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(14,14,14,0.3956933115042892)), color-stop(51%, rgba(11,11,11,0.1856092778908438)), to(rgba(12,13,13,0.3984944319524685)));
    background: -o-linear-gradient(bottom, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
    background: linear-gradient(0deg, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
}
.columns{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    margin: 0 auto;
}
.column-one, .column-two, .column-three{
    margin: 0 20px 0  20px;
    color: #CBD0D3;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}

.blank-2{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    color: #CBD0D3;
}
.touch{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    background-color: #A6ADB4;
    border-color:  #CBD0D3;
}
.list{
    margin: 0 20px 0  20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
}
#touch{
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}