body{
    background: linear-gradient(to right,  rgba(2, 2, 128, 0.829), rgba(250, 131, 151, 0.795));
    background-repeat: no-repeat;
}
/* navigation - logo, navbar, serach button, registration */

.logo-img{
    width: 100px;
    height: 95px;
    display: flex;
    flex-wrap: wrap;
    cursor: pointer;
    margin-right: 80px;
}
.header, .container, .row, .navbar, ul, .nav-li{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.header{
    min-height: 150px;
    height:100%;
    background: rgb(2, 14, 53);
    background: linear-gradient(0deg, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
    justify-content: center;
}
.row{
    max-width: 1600px;
    width: 100%;
    justify-content: space-evenly;
}
.nav-li{
    font-family: 'Rampart One', cursive;
    color: white;
    cursor: pointer;
    font-size: 20px;
    margin-right: 40px;
}
.span:hover {
    color: #aae5f7e0;
}
/* drowdown-content */
.dropdown-content {
    display: none;
    position: absolute;
    background: linear-gradient(94deg, rgba(107, 32, 192, 0.829) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%);
    color: white;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    margin-top: 5px;
    border-radius: 5px;
    line-height: 30px;
    
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  .fa-angle-double-down{
      margin-left: 5px;
      margin-top: 5px;
      display: flex;
  }
  .option{
      display: flex;
      justify-content: center;
      width: 100px;
  }
  .option:hover{
      background: rgba(235, 195, 235, 0.438);
      cursor: pointer;
      transition: 0.5s;
      width: 120px;
      border-radius: 5px;
  }
  .color{
      color: white;
  }
  /* regitration and search tags */
  /* regitration - navbar hover */
  .log-in{
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-left: 60px;
}
  .fa-search, .fa-user-alt{
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: center;
    margin-left: 5px;
    font-size: 20px;
    color: black;
 }
/* second dropdown */
.dropdown-two {
    position: relative;
    display: inline-block;
    justify-content: center;
    
  }
  
  .dropdown-content-two {
    display: none;
    position: absolute;
    background: linear-gradient(94deg, rgba(212, 16, 147, 0.74) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%);
    color: white;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    border-radius: 5px;
    line-height: 30px;
    margin-top: 3px;
  }
  .dropdown-two:hover .dropdown-content-two {
    display: block;
  }
  .fa-bell{
      font-size: 22px;
      padding-left: 2px;
      cursor: pointer;
  }
  /* input style username and password */
#pass, #username{
    border-radius: 16px;
    border: none;
    height: 25px;
    width: 150px;
    outline: none;
}
.btn{
    border-radius: 16px;
    border: none;
    width: 70px;
    height: 28px;
    outline: none;
    color: white;
    background: rgb(187, 33, 58);
    margin-top: 10px;
}
.account{
    color: white;
}
/* search section hover */

.search-box{
    position: obsolute;
    background: linear-gradient(94deg, rgba(236,235,242,1) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145,145,145,0.5861695019804797) 100%);
    height: 50px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    align-items: center;
    margin-left: 20px;
}
.search-box:hover > .search-txt{
    width: 200px;
    padding: 0 6px;
}
.search-box:hover > .search-btn{
    background: white;
}
.search-btn{
    color: rgb(240, 124, 143);
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgb(247, 126, 146);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.4s;
}
.search-txt{
    display: flex;
    border: none;
    background: none;
    outline: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 30px;
    width: 0;
}
/* main section */
/* slide bar */
.main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 30px;
}
.bg-img{
    background:  linear-gradient(94deg, rgba(107, 32, 192, 0.699) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%), url(../img/e2f39b1c5e80c5d9601d8e0c50c78603.png);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
}
.size-img{
    height: 300px;
    width: 200px;
    display: flex;
    flex-wrap: wrap;
    border-radius: 8px;
    cursor: pointer;
}
.size-img:hover{
    transform: scale(1.1);
}
.slide{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    border-radius: 8px;
    background: rgb(13,13,12);
    background: linear-gradient(0deg, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
}
.back-img{
    background-image:  linear-gradient(90deg, rgba(40, 37, 43, 0.87) 0%, rgba(253,29,29,0.23602944595807074) 50%, rgba(252,176,69,0) 100%), url(../img/static-assets-upload9114746084843840818.png);
    width: 820px;
    height: 510px;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
    align-items: center;
    
}
.right, .left{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 100px;
    background-repeat: no-repeat;
    background: linear-gradient(to left,  rgba(119, 164, 206, 0.473), rgba(218, 132, 146, 0.514));
    border-radius: 3px;
    margin: 30px;
    
}
.left:hover{
    transform: scale(1.2);
}
.right:hover{
    transform: scale(1.2);
}
/* html tags on image */
.content{
    display: flex;
    flex-direction: column;
    margin: 50px;
}
.img-tbn{
    background: rgb(165, 31, 54);
    color: white;
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border: none;
    margin-top: 40px;
    cursor: pointer;
    font-size: 20px;
    transition: all .2s ease-in-out;
}
.img-tbn:hover { 
    transform: scale(1.2); 
    }
.head-one{
    color: white;
    font-size: 40px;
    margin-bottom: 30px;
}
.text{
    color: white;
    font-size: 20px;
    margin-top: 15px;
}
/* img blocks section */
.blocks{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 15px;
    border-radius: 8px;
    background: rgb(13,13,12);
    background: linear-gradient(0deg, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
    
}
.box-one{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px;
    justify-content: center;
    
}
/* box one */
.top, .end{
    display: flex;
    flex-wrap: wrap;
    width: 900px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 20px;
}
.end-img{
    width: 200px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.head-two{
    color: white;
    font-size: 22px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.line{
    display: flex;
    width: 350px;
    height: 3px;
    background-color: brown;
}

/* section two */
/* .section-two-blocks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: 1200px;
    width: 100%;
    height: 500px;
    justify-content: space-between;
} */
/* .top-1{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0 auto;
    width: 700px;
} */
.end-1, .row-2{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    width: 900px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    margin-bottom: 20px;
}
.news{
    color: white;
    font-size: 22px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}
/* footer  */
.footer{
    display: flex;
    flex-wrap: wrap;
    height: 200px;
    justify-content: center;
    align-items: center;
    background: rgb(2, 2, 68);
    background: linear-gradient(0deg, rgba(14,14,14,0.3956933115042892) 0%, rgba(11,11,11,0.1856092778908438) 51%, rgba(12,13,13,0.3984944319524685) 100%);
}
.columns{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.column-one, .column-two, .column-three{
    margin: 0 20px 0  20px;
    color: #CBD0D3;
    flex-direction: column;
}

.blank-2{
    display: flex;
    flex-direction: column;
    color: #CBD0D3;
}
.touch{
    display: flex;
    background-color: #A6ADB4;
    border-color:  #CBD0D3;
}
.list{
    margin: 0 20px 0  20px;
    display: flex;
    flex-direction: column;
}
#touch{
    outline: none;
    border: none;
    background-color: white;
    border-radius: 5px;
    padding: 5px;
}