video{
    display: flex;
    flex-wrap: wrap;
    border-radius: 20px;
    background-color: rgba(104, 10, 133, 0.712);
}
.video{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.comments{
    display: flex;
    justify-content: center;
    align-items: left;
    flex-direction: column;
    margin: 20px;
}
#comments{
outline: none;
margin: 10px;
font-size: 20px;
border-radius: 10px;
}
.tx-com{
    margin: 10px;
    font-size: 25px;
    color: white;
}
.submit{
    margin: 10px;
    font-size: 16px;
    color: white;
    background-color: brown;
    width: 90px;
    height: 50px;
    outline: none;
    border: none;
    border-radius: 10px;
}
/* info */
.bg-img-1{
    background:  linear-gradient(94deg, rgba(107, 32, 192, 0.699) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%), url(../img/haku_png_by_julis_rocks_dca03ur-pre.png);
    background-size: cover;
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    justify-content: center;
}
.bg-img-11{
    background:  linear-gradient(94deg, rgba(107, 32, 192, 0.699) 9%, rgba(186,186,191,0.2164216028208158) 100%, rgba(145, 145, 145, 0.822) 100%), url(../img/894d5e8ee8190a41c4baaaed35bf3597.png);
    background-size: cover;
    display: flex;
    position: relative;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    justify-content: center;

}
.info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 700px;
    margin: 0 auto;
    margin-bottom: 30px;
}
.img-anime{
    width: 230px;
}
.info-anime{
    display: flex;
    flex-direction: column;
    width: 469px;
    height: 300px;
    color: white;
    justify-content: space-around;
    background-color: rgba(0, 0, 0, 0.281);
    padding: 20px;
    border-radius: 10px;
}
.header-1{
    font-size: 24px;
}
.submit:hover{
    cursor: pointer;
    transform: scale(1.1);
}